.rc-table {
    --expand-color: #000000;
}

.rc-table-expand-icon-col {
	width: 60px;
}

.rc-table-row-expand-icon-cell {
	text-align: center;
}

.rc-table-row-expand-icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	color: var(--expand-color);
	line-height: 16px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid currentColor;
	cursor: pointer;
}

.rc-table-row-expand-icon.rc-table-row-expanded::after {
	content: '-';
}

.rc-table-row-expand-icon.rc-table-row-collapsed::after {
	content: '+';
}